.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.samples {
	width: 80%;
	margin-top: 15px;
}
.sample-note img {
	max-width: 100%;
}
@media (max-width: 426px) {
	.samples {
		width: 100%;
		margin-top: 15px;
	}
}