.review-container, .review {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.no-reviews, .review {
	width: 40%;
	border: 1px solid grey;
	border-radius: 12px;
	background-color: aliceblue;
	padding: 10px;
	margin-top: 15px;
}
.review-container .reviews-summary {
	display: inline-block;
}
.text-left {
	text-align: left;
}

/* Responsive */
@media (max-width: 1025px) {
	.review-container .no-reviews, .review {
		width: 50%;
	}
}
@media (max-width: 769px) {
	.review-container .no-reviews, .review {
		width: 70%;
	}
}
@media (max-width: 426px) {
	.review-container .no-reviews, .review {
		width: 90%;
	}
	.review-container .reviews-summary {
		padding: 0 10px;
	}
}
@media (max-width: 321px) {
	.review-container h1 {
		font-size: 1.7em;
	}
}