nav {
	display: flex;
	border-bottom: 1px solid #09f;
}
nav .container {
	display: flex;
	justify-content: center;
	width: 100%;
}
nav .user-cta {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 80%;
	height: 55px;
}
nav .login {
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav .business {
	width: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	border-left: 1px solid #09f;
	padding: 5px;
	text-align: center;
}
nav .links {
	width: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 19px;
	border-left: 1px solid #09f;
}
/* Hide the link that should open and close the nav on small screens */
nav .icon {
	display: none;
}
nav .user-info {
	display: flex;
	align-items: center;
	justify-content: center;
}
nav .user-info button {
	margin-left: 10px;
}
nav button {
	margin: 0;
}
@media screen and (max-width: 1150px) {
	nav .user-cta {
		width: 70%;
	}
	nav .business {
		width: 15%;
	}
	nav .links {
		width: 15%;
	}
}
@media screen and (max-width: 830px) {
	nav .user-cta {
		width: 64%;
	}
	nav .business {
		width: 18%;
	}
	nav .links {
		width: 18%;
	}
}
@media screen and (max-width: 700px) {
	nav .user-cta {
		width: 58%;
	}
	nav .business {
		width: 22%;
	}
	nav .links {
		width: 20%;
	}
}
@media screen and (max-width: 600px) {
	nav .user-cta {
		width: 100%;
	}
	nav .business, nav .links {
		display: none;
	}
	nav .icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 55px;
	}
}

/* The "responsive" class is added to the nav with JavaScript when the user 
	 clicks on the icon. This class makes the nav look good on small screens
	 (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	nav.responsive .container {
		flex-direction: column;;
	}
	nav.responsive .business, nav.responsive .links {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		border-left: none;
		padding: 0 0 0 10px;
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	.hide-below-500 {
		display: none;
	}
}